/*
 Theme Name:   MSTheme
 Theme URI:    http://example.com/twenty-sixteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     eliza
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-sixteen-child
*/

a, a:visited {
  color: unset;
}
.site-header .access, .site-header .access .main-menu .children, .entry-header .sticky-star, .site-header .access .main-menu .sub-menu {
  background: #961913;
}
@media screen and (max-width: 800px) {
  .site-header .access .main-menu .menu {
      background: #961913;
  }
}


/* estrutura */
@media screen and (min-width: 800px) {
  .site-content .content-area {
    flex: 1 0 auto;
    width: 100%;
    max-width: 1220px;
  }
  .single .site-content .content-area {
    flex: 1 0 auto;
    width: calc(100% - 360px);
    max-width: 860px;
  }
  .sidebar {
    margin-top: 250px;
  }
  .site-content {
    margin-top: 7rem;
  }
}
/* geral */
body {
  font-family: "Helvetica",Arial,sans-serif;
  background: #FFF !important;
}

.site-header {
  background-image: url('/wp-content/themes/mstheme/capa.jpeg')
}

.custom-logo {
    float: left;
    height: 100px !important;
}

.site-title {
    color: #FFF !important;
    font-size: 3em !important;
    float: left;
    margin-left: 10px;
    margin-top: 25px;
}

.site-description {
  color:#FFF;
  font: inherit !important;
  font-size: 1.3em !important;
  text-shadow: 0.2rem 0.1rem 0.05rem #1A1A1A;
  float: left;
  margin-left: 20px !important;
  margin-top: 32px;
}

.site-header .site-branding {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* SINGLE */

article .entry-header .entry-title {
  font-size: 26px;
  margin-bottom: 16px;
  margin-top: 0.5em;
  font-weight: 500;
  color: rgb(85,85,85);
  text-align: left;
  line-height: 1em;
}

@media screen and (min-width: 800px) {
  article .entry-header .entry-title {
    font-size: 41px;
  }
}

article .excerpt p {
  color: #929292 !important;
  font-size: 1.1em;
  margin-top: 7px;
  margin-bottom: 10px;
  line-height: 115%;
  text-align: left;
}

article .entry-content {
  max-width: unset;
  margin-bottom: 0px;
}

figure.image {
    margin: 20px;
}

.entry-header a {
    text-align: left !important;
    color: #929292;
}
article.post p {
    font-size: 1.1em;
    color: #555;
}
.entry-content figcaption {
    font-size: 0.9em;
    background: #F7F7F7;
    padding: 6px;
}

/* Grid */
.col {
  min-width: 250px;
  margin: 10px 0;
}
.col .entry-header .entry-title {
    font-size: 20px !important;
    line-height: 1 !important;
    font-weight: 700;
    margin-bottom: 5px;
}
.col .entry-header a {
    text-align: left !important;
    color: #961913;
}
.col time {
  color: #A3A3AB;
}
.col .entry-content {
  margin-top: 10px;
  color: rgb(85,85,85)
}
.entry-header .post-thumbnail img {
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.grid-excerpt {
  line-height: 120%;
  font-size: 16px;
  color: #555;
}
/* related */

.related_posts_by_taxonomy ul{
  list-style: none;
  margin-left: 0px !important;
  font-size: 17.6px;
  line-height: 25px;
  font-family: "Helvetica",Arial,sans-serif;
}
.related_posts_by_taxonomy ul li {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.widget-area .widget-title {
    font: 700 1.5rem/1.5 "nunito sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 1px solid;
}
/* plugins */

.related_posts_by_taxonomy ul li a, .entry-content a{
  color: #006400;
}
.related_posts_by_taxonomy ul li time{
  color: #A3A3AB;
}

.wplp_container.default .defaultflexslide > li { display: block !important; }
.wplp_listposts.defaultflexslide .title {
  font-size: 17px;
  color: #555;
  font-weight: 700;
}
.wplp_outside {
    border-top: 3px solid #CCC;
    margin-top: 20px;
}
/* footer menu */
.site-footer {
  background: #961913
}
.site-footer .wrapper a {
  color: white !important
}

/* tags */

.tags a {
  background-color: white;
  padding: .2em .7em .3em;
  font-size: 81%;
  line-height: 1;
  color: #A3A3AB;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  text-transform: lowercase;
  border-radius: .25em;
  border-color: #A3A3AB;
  border-style: solid;
  border-width: thin;
  margin-right: 5px;
  display:inline-block;
}

/* página de categoria */
.archive-description p {
    text-align: left;
    font-size: 16px;
    color: #555;
}
.category_image {
    float: left;
    max-width: 370px;
    border-radius: 3px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.125);
    overflow: hidden;
    margin-right: 20px;
}
.page-header h1 {
  color: #555;
  text-align: left;
  margin-bottom: 20px;
}
.archive .content-area .page-header {
    min-height: 300px;
}
.tax-secao .page-header {
    min-height: unset !important;
}
.hat {
  font-weight: 800;
  font-size: 22px;
  margin-top: 0;
  color: #006400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.5em;
  border-bottom: dashed 1px #bbb;
  padding-bottom: 0.3em;
}


/* home */
.capa h1 {
  color: #555;
  font-size: 32px;
}
.subcapa h1 {
  color: #555;
  font-size: 26px;
}
.capa h1, .subcapa h1 {
  margin-bottom: 15px;
  line-height: 120%;
}
.home.row {
    border-top: 2px dotted
    #999;
    margin-top: 50px;
    padding: 10px 10px 0px;
}
.home h2, .home h2 a {
  font-weight: 800;
  font-size: 22px;
  color: #006400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.home > div {
  padding-left: 0px;
}
.home p {
  font-size: 16px;
  color: #555;
  line-height: 19.2px;
}
.subcapa {
    border-top: 1px solid #DDD;
    padding-top: 20px;
}
.more_link a {
    float: right;
    color: #006400 !important;
    font-weight: bold;
    text-decoration: underline;
}

/* videos */
aside.videos {
  background-color: #262626;
  display: inline-block;
  vertical-align: top;
  padding: 12px 12px 0 12px;
  overflow: hidden;
}
article.headline {
  display: inline-block;
  vertical-align: top;
  background: #383838;
  border-left: 1px dotted #999999;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
@media screen and (min-width: 800px) {
  aside.videos {
    background-color: #262626;
    display: inline-block;
    width: 35%;
    vertical-align: top;
    padding: 12px 12px 0 12px;
    height: 400px;
    overflow: hidden;
  }
  article.headline {
    display: inline-block;
    width: 64%;
    vertical-align: top;
    background: #383838;
    border-left: 1px dotted #999999;
    min-height: 400px;
  }
}


article.headline h1 a{
  font-size: 20px;
  text-align: left;
  font-family: "Helvetica",Arial,sans-serif;
  font-weight: 700;
  line-height: 120%;
  color: white;
  display: block;
}
aside.videos a{
  font-size: 16px;
  font-family: "Helvetica",Arial,sans-serif;
  color: white;
}
aside ul {
    margin-top: 0;
    margin-bottom: 11px;
    margin-left: 0px !important;
    list-style: none;
    padding: 0;
    width: 100%;
}
aside li {
  margin-top: 20px;
}

@media screen and (min-width: 576px) {
  .article .entry-header .post-thumbnail img {
    height: 90px;
    width: 150px;
    float: left;
    margin-right: 10px;
  }
}
.article h1 {
  color: #555;
  font-size: 20px;
}
.interviews h1 {
  color: #555;
  font-size: 18px;
}

.interviews .entry-title {
  margin-top: 30px;
}

.interviews figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: initial;
  z-index: 1;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 1.0em;
  line-height: 1;
  white-space: normal;
}

@media screen and (min-width: 576px) {
  .interviews figcaption {
    font-size: 20px;
  }
}

.interviews figure {
  margin: 0;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.125);
  overflow: hidden;
  min-height: 200px;
  background-size: cover;
  position: relative;
}

@media screen and (max-width: 576px) {
  .site-header {
    position: relative;
  }
  .menu-toggle {
    position: absolute;
    top: -7px;
    left: 3px;
  }
  .site-header .site-branding {
    padding-left: 80px;
  }
  .site-header .access .main-menu .menu-toggle {
    border: unset;
  }
  .site-header .access .main-menu .menu-toggle .genericons-neue {
    width: 5.8rem;
    height: 87px;
  }
  .custom-logo {
    height: 80px !important;
  }
  .site-description {
    display: none !important;
  }
  .site-title {
    font-size: 4em !important;
    margin-top: 8px;
  }

  /* quem somos */
  .wp-block-media-text {
      grid-template-columns: 100% 1fr;
  }
  .wp-block-media-text .wp-block-media-text__content {
      grid-column: 1;
      grid-row: 2;
  }
}

/* história */
#menu-nossa-historia {
  list-style: none;
  font-weight: 700;
  color: #A3A3AB;
}

#menu-nossa-historia a::after {
    content: '';
    display: block;
    background: #A3A3AB;
    background-color: rgb(163, 163, 171);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: -9px;
    z-index: 11;
    margin-left: -10px;
}

#menu-nossa-historia .current_page_item a::after {
  background: #006400;
}

#menu-nossa-historia .current_page_item a {
  color: #006400;
}


#menu-nossa-historia li {
    display: inline-block;
    padding: 10px;
    position: relative;
}

.bar {
    height: 4px;
    margin-top: -13px;
    background: #eee;
    background-color: rgb(238, 238, 238);
    width: 100%;
    position: relative;
    z-index: 10;
    top: 13px;
    left: 0;
    background-color: #eee;
}

.alm-reveal {
  display: flex;
  flex-wrap: wrap;
}
